#images{
    width: 10px;
}

#titre_principal{
    text-align: left;
}

header {
    background-color: gray;
}

footer {
    background-color: gray;
    height: 200px;
}

#images{
    width: 80%;
    padding-top: 1%;
    padding-bottom: 1%;
}

body{
    background-color: dimgray;
}
#acceuilPara{
    color: white;
}